{{define "layout"}}<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content="tori">
<title>{{.Title}}</title>
<link rel="stylesheet" href="{{.CSSHref}}">
</head>
<body>
<div class="wrap">
<nav class="top"><a href="{{.HomeHref}}">{{.NavTitle}}</a></nav>
{{template "content" .}}
<footer class="repo">{{.Footer}}</footer>
</div>
</body>
</html>{{end}}
